#root {
  margin: 0;
  padding: 0;
  max-width: none;
  text-align: left;
}

body {
  margin: 0;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI",
    sans-serif;
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}
